In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns
from scipy import stats
from datetime import datetime 
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import KNNImputer
import category_encoders as ce
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures

In [7]:
data=pd.read_csv("model_data.csv")
street=pd.read_csv("boston.csv",names=["stree_name","latitude","longitude"])

In [8]:
data.head()

,Unnamed: 0,distance,surge_multiplier,Lyft_Type,Uber_Type,cab_type_Uber,price
0,0,0.02,1.0,0.0,3.0,1,6.5
1,1,0.02,1.0,0.0,6.0,1,15.0
2,2,0.02,1.0,0.0,7.0,1,27.5
3,3,0.02,1.0,0.0,2.0,1,6.5
4,4,0.02,1.0,0.0,4.0,1,8.5

In [10]:
data=data.iloc[:,1:]

In [11]:
data.head()

   distance  surge_multiplier  Lyft_Type  Uber_Type  cab_type_Uber  price
0      0.02               1.0        0.0        3.0              1    6.5
1      0.02               1.0        0.0        6.0              1   15.0
2      0.02               1.0        0.0        7.0              1   27.5
3      0.02               1.0        0.0        2.0              1    6.5
4      0.02               1.0        0.0        4.0              1    8.5

In [12]:
data.distance.value_counts()

2.66    7225
2.32    7171
2.84    6777
1.41    6198
1.25    5879
        ...
4.99       4
4.85       4
3.84       3
4.89       3
5.06       3
Name: distance, Length: 511, dtype: int64

In [6]:
poly_features = PolynomialFeatures(degree=6)

In [7]:
X=data.loc[:,['distance', 'surge_multiplier', 'Lyft_Type', 'Uber_Type', 'cab_type_Uber']]
Y=data['price']

In [8]:
X_train_poly = poly_features.fit_transform(X)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X_train_poly, Y, test_size = 0.40,shuffle=True,random_state=10)

In [10]:
import time

poly_model = linear_model.LinearRegression()
start_time = time.time()
poly_model.fit(X_train, y_train)
print("--- %s seconds ---" % (time.time() - start_time))

--- 88.21484375 seconds ---

In [11]:
# predicting on test data-set
prediction= poly_model.predict(X_test)
print("--- %s seconds ---" % (time.time() - start_time))

--- 89.46897053718567 seconds ---

In [12]:
# print('Co-efficient of linear regression',poly_model.coef_)
print('Intercept of linear regression model',poly_model.intercept_)
print('Mean Square Error', metrics.mean_squared_error(y_test, prediction))
print("r2_score:",metrics.r2_score(prediction,y_test)*100,"%")

Intercept of linear regression model -3591878.2547301683
Mean Square Error 3.2033302454761072
r2_score: 95.94656193936568 %

In [14]:
# import pickle
# pickle.dump(poly_model,open('modell.pkl','wb'))

In [15]:
from math import radians, cos, sin, asin, sqrt
def distance(lat1, lat2, lon1, lon2):
     
    # The math module contains a function named
    # radians which converts from degrees to radians.
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    # calculate the result
    return(c * r)

In [23]:
street.head()

               stree_name   latitude  longitude
0          3rd Place  212  42.337923 -71.048038
1  4th Street Place  2127  42.334637 -71.042955
2          A Street  2210  42.345284 -71.052449
3          A Street  2127  42.345280 -71.052454
4   Aberdeen Street  2215  42.346413 -71.103843

In [13]:
def message(col_name):
    print(col_name+" has wrong value")
    print("1:Drop row")
    print("2:replace with another value")

In [ ]:
def check_dataset(datasetname):
    # important columns[distance - cab_type - lyft_type - uber_type]
    data=pd.read_csv(datasetname)
    for i in range(data.shape[0]):

In [ ]:
def check_dataset(datasetname):
#     9 columns

    drop_indexs=[]
# important columns[distance - cab_type - lyft_type - uber_type]
    data=pd.read_csv(datasetname)
    
    
    for i in range(data.shape[0]):
#         distance has wrong value
        if (data.iloc[i,0] <=0.0)or (data.iloc[i,0]==np.nan):
            display(data.iloc[i,:])
            message('Distance')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                distance=float(input("Enter a new Distance:"))
                while distance <=0.0:
                    print("Distance is wrong")
                    distance=float(input("Enter a new Distance:"))
                                     
                data.iloc[i,0]=distance     
#*******************************************************************************                                                        
        if (data.iloc[i,1].str.lower() not in ['uber','lyft']) or (data.iloc[i,1]==np.nan) :
            display(data.iloc[i,:])
            message('Cabtin Type')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                print("Enter a new Cabtin Type:")                                             
                print("1:Uber")
                print("2:Lyft")
                cap=int(input())
                while cap !=1 or cap !=2:
                    print("Cabtin Type is wrong")
                    cap=int(input("Enter a new Cabtin Type:"))
                if cap==1:
                    data.iloc[i,1]='Uber'
                else:
                    data.iloc[i,1]='Lyft'
                                     
#*******************************************************************************  
        if (data.iloc[i,2] <=0.0) or (data.iloc[i,2]==np.nan):
            display(data.iloc[i,:])
            message('time_stamp')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                time_stamp=float(input("Enter a new time stamp:"))
                while time_stamp <=0.0:
                    print("time stamp is wrong")
                    time_stamp=float(input("Enter a new time stamp:"))
                    
                data.iloc[i,2]=time_stamp   
#*******************************************************************************  
        places=['West End', 'Boston University', 'Back Bay', 'Financial District',
       'Northeastern University', 'North End', 'North Station',
       'Beacon Hill', 'Theatre District', 'Fenway', 'Haymarket Square',
       'South Station']
                                     
        if (data.iloc[i,3] not in places) or (data.iloc[i,3]==np.nan):
            
            display(data.iloc[i,:])
            message('Destination')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                destination=input("Enter a new destination:")
                while destination not in places:
                    print("destination is wrong")
                    destination=input("Enter a new destination:")
                                     
                data.iloc[i,3]=destination    
#*******************************************************************************    
        if (data.iloc[i,4] not in places) or (data.iloc[i,4]==np.nan):
            
            display(data.iloc[i,:])
            message('Source')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                source=input("Enter a new source:")
                while source not in places:
                    print("source is wrong")
                    source=input("Enter a new source:")
                                     
                data.iloc[i,4]=source
        #*******************************************************************************    
        surg=[1.0, 1.75, 1.25, 2.5, 1.5 , 2.0, 3.0]
        
        if (data.iloc[i,1].str.lower()=='uber' and data.iloc[i,5] !=1.0) or (data.iloc[i,5]==np.nan):
            display(data.iloc[i,:])
            print('Uber\'s surge_multiplier should equal 1.0')
            message('surge_multiplier')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:                                  
                data.iloc[i,5]=1.0
        #*******************************************************************************    
        if (data.iloc[i,1].str.lower()=='lyft' and data.iloc[i,8].str.lower()=='shared' and data.iloc[i,5]!=1.0) or (data.iloc[i,5]==np.nan):
            display(data.iloc[i,:])
            print('Lyft_Taxi\'s surge_multiplier should equal 1.0')
            message('surge_multiplier')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:                                  
                data.iloc[i,5]=1.0
#*******************************************************************************    
        if (float(data.iloc[i,5]) not in surg) or (data.iloc[i,5]==np.nan):
            display(data.iloc[i,:])
            message('surge_multiplier')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                surge_multiplier=float(input("Enter a new surge multiplier:"))
                while surge_multiplier not in surg:
                    print("surge multiplier is wrong")
                    surge_multiplier=float(input("Enter a new surge multiplier:"))
                                     
                data.iloc[i,5]=destination 
#*******************************************************************************            
        if (not data.iloc[i,6].str) or (data.iloc[i,6]==np.nan):
            display(data.iloc[i,:])
            message('id')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                idd = input("Enter a new id:")
                while not idd:
                    print("ID is wrong")
                    idd=input("Enter a new id:")
                    
                data.iloc[i,6]=idd
#*******************************************************************************  
        if ( not data.iloc[i,7].str) or (data.iloc[i,7]==np.nan):
            display(data.iloc[i,:])
            message('product id')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                product_id = input("Enter a new product id:")
                while not product_id:
                    print("product id is wrong")
                    product_id=input("Enter a new product id:")
                    
                data.iloc[i,7]=product_id
#*******************************************************************************  
        lyft_name=['shared','lyft','lyft xl', 'black suv', 'lux black','lux black xl' 'lux']
        uber_names=['taxi','uberpool','black suv','black','wav','uberx','uberxl']
        
        if (data.iloc[i,1].str.lower()=='uber' and data.iloc[i,8].str.lower() not in uber_names) or (data.iloc[i,8]==np.nan):
            display(data.iloc[i,:])
            message('Name')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                name= input("Enter a new  name:")
                while name not in uber_names:
                    print("name is wrong")
                    name=input("Enter a new name:")
                
                data.iloc[i,8]=name
                
        if (data.iloc[i,1].str.lower()=='lyft' and data.iloc[i,8].str.lower() not in lyft_name) or (data.iloc[i,8]==np.nan):
            display(data.iloc[i,:])
            message('Name')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                name= input("Enter a new  name:")
                while name not in lyft_name:
                    print("name is wrong")
                    name=input("Enter a new name:")
                
                data.iloc[i,8]=name
        
#*******************************************************************************      
        if  (data.iloc[i,9]<=0.0) or (data.iloc[i,9]==np.nan) :
            display(data.iloc[i,:])
            message('Price')
            cho=int(input())
            if cho==1:
                drop_indexs.append(i)
                continue
            elif cho ==2:
                price= float(input("Enter a new  Price:"))
                while name not in lyft_name:
                    print("Price is wrong")
                    price=float(input("Enter a new price:"))
                
                data.iloc[i,9]=price
            
#*******************************************************************************  
    data.drop(drop_indexs,inplace=True)
    data = data.reset_index()
    return data

In [ ]:
csv_name=""
data=check_dataset(csv_name)
data=data[:,1:]
data.drop(['time_stamp','destination','source','id','product_id'],axis=1,inplace=True)
data.cab_type=data.cab_type.str.lower()
data.name=data.name.str.lower()
data= pd.get_dummies(data, columns=["cab_type"])
data.drop(['cab_type_lyft'],axis=1,inplace=True)

lyft={'lux black xl':6,'lux black':5,'lux':4,'lyft xl':3,'lyft':2,'shared':1}
lyft_map=[{'col':'Lyft_Type','mapping':lyft}]

data['Lyft_Type']=df['name']
encodeing= ce.OrdinalEncoder(cols=['Lyft_Type'],return_df=True,mapping=lyft_map)
data=encodeing.fit_transform(df)
data.loc[df.Lyft_Type <1, 'Lyft_Type'] = 0

uber={'black suv':7,'black':6,'wav':5,'uberxl':4,'uberx':3,'taxi':2,'uberpool':1}
uber_map=[{'col':'Uber_Type','mapping':uber}]
data['Uber_Type']=data['name']
encodeing= ce.OrdinalEncoder(cols=['Uber_Type'],return_df=True,mapping=uber_map)
data=encodeing.fit_transform(df)
data.loc[df.Uber_Type <1, 'Uber_Type'] = 0

data.drop(['name'], axis = 1,inplace=True)
X_input=data.loc[:,['distance', 'surge_multiplier', 'Lyft_Type', 'Uber_Type', 'cab_type_uber']]
Y_input=data['price']

In [ ]:
prediction= poly_model.predict(poly_features.fit_transform(X_input))
print('Intercept of linear regression model',poly_model.intercept_)
print('Mean Square Error', metrics.mean_squared_error(Y_input, prediction))
print("r2_score:",metrics.r2_score(prediction,Y_input)*100,"%")